<% foodstuffs.each do |foodstuff| %>
  <% unless foodstuff.id.nil? %>
    <p><%= link_to "#{@recipe.user.name}さん", user_path(@recipe.user.id) %></p>
  <div class="field">
   <p><%= foodstuff.material %></p> 
    </div>
    <div class="field">
  <%= foodstuff.quantity %>
    </div>
    <% if @recipe.user == current_user %>

       <%= link_to 'コメントを削除する', recipe_foodstuff_path(foodstuff),method: :delete, remote: true, data: { confirm: '削除してよろしいですか？' } %>
    <% end %>
  <% end %>
<% end %>

