<div class="title_content">
  <div class="title_field">
    <p>紹介文</p>
  </div>
  <div class="title_fields">
    <%= @recipe.process %>
  </div>
</div>
<div class="title_content">
  <div class="title_field">
    <P>分量(何人前)</p>
  </div>
  <div class="title_fields">
    <p><%= @recipe.details %></p>
  </div>
</div>