<h2>新規レシピ投稿</h2> 
<div class="field">
  <%= @recipe.process %>
</div>
<div class="main_contents">
  <div class="image-content">
    <%= image_tag @recipe.main_image %>
  </div>
  <div class="text_content">
  <div class="title_recipe">レシピ</div>
    <div class="title_content">
      <div class="title_field">
        <P>レシピ名</p>
      </div>
      <div class="title_fields">
        <p><%= @recipe.title %></p>
      </div>
    </div>
    <div class="title_content">
      <div class="title_field">
        <P>分量(何人前)</p>
      </div>
      <div class="title_fields">
        <p><%= @recipe.details %></p>
      </div>
    </div>
  </div>
</div>