<div class="form_wrapper">
  <div class="form_inner">
    <div class="title-content">
      <div class="title_recipe">レシピ編集</div>
      <%= render "recipes/form", recipe: @recipe %>
      <div class="actions_edit">
        <%= button_to '削除', recipe_path(@recipe.id), method: :delete, remote: true, data: { confirm: '削除してよろしいですか？' } , class: 'recipe_delete_btn'%>
      </div>
    </div>
    <div class="title_recipe">材料</div>
      <%= render "foodstuffs/foodstuff", foodstuff: @foodstuffs %>
    </div>
  </div>
</div>
<div class="show_links_recipe">
  <div class="title_recipes">作り方</div>
</div>
  <%= render "recipephotos/recipephoto", recipephoto: @recipephotos %>
    </div>
  </div>
</div>
