   <div class="title_recipe">レシピ画像・テキスト</div>
<div class="recipe-contents">
  <% recipephotos.each do |recipephoto| %>
    <div class="recipe-content-show">
      <div class='recipephoto-images'>
      <% if recipephoto.sub_image.attached? %>
            <%= image_tag recipephoto.sub_image, class: "user_image_index" %>
          <% else %>
            <%= image_tag ("photo.jpg") , class: "user_image_index" %> 
          <% end%>
      </div>
      <p class="recipephoto_texts">
        <p><%= recipephoto.text %></p> 
      </p>
      <%= button_to '削除', recipe_recipephoto_path(recipephoto.recipe_id, recipephoto.id), method: :delete, remote: true, data: { confirm: '削除してよろしいですか？' } , class: 'recipephoto_btn'%>
    </div> 
  <% end %>
</div>



 