/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.main_form {
  padding: 40px 0 0 0;
  height :100％;
}

.header_form {
  display: flex;
  width: 100%;
}

.icon {
padding: 0 100px;
}

header {
  background-color: #FCE77D;

}

.nav_botton {
  width: 100vw;
  padding: 25px 0;
}

.nav_botton ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.nav_botton ul li {
  list-style: none;
  padding: 0 15px;
}

.nav_botton ul li a {
  text-decoration: none;
  color: black;
 
}

.nav_botton ul li a:hover {
color: red;
}

header.scroll-nav {
  padding: 10px 50px;
  background: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #FCE77D;
  width: 100vw;
  padding: 20px 0;
  }

  .container {
  padding: 20px 40px;

  }

  .background {
    background-image: url("main.jpeg");
    background-size: cover;
    height: 100vh;
  }

  .chef {
    font-size: 130px;
    padding: 250px 0 0 0;
  }
  .user_button_form {
    list-style: none;
    display: flex;
    justify-content: center;
  }

  .btn-border {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid black;
  font-size: 16px;
  color: black;
  background-color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
}

.btn-border:hover {
  background-color: #9ec34b;
  border-color: #cbe585;
  color: #FFF;
}