// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.comment_content {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.comment_forms {
  display: flex;
}

.comments_text {
  display: flex;
  padding: 15px;
  width: 100%;
}

.comments_text img {
  border-radius: 50%;
  height: 80px;
  padding: 0 50px;
  width: 80px;
}

.comments_text p {
  font-size: 20px;
  width: 100%;
  padding: 15px 0;
}

.comment_link {
  border-bottom: 1px solid;
}

.comment_icon {
  margin: 0 0 0 auto;
  width: 260px;
}

.comment_link a {
  color: black;
  text-decoration: none;
}

.comment_link a:hover {
  color: red;
}

textarea#comment_text.comment_text {
  height: 60px;
  resize: none;
  width: 80%;
}

.comments_forms {
  padding: 10px;;
}

.actions_comment {
  padding: 10px;;
}