// Place all the styles related to the foodstuffs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.foodstuff_form {
  display: flex;
  margin: 3px 0;
}

.foodstuff_forms {
  display: flex;
}

.foodstuf_field {
  border: 2px solid red;
  width: 44%;
}

.foodstuff_text {
  height: 25px;
  margin: 10px 3vw;
  resize: none;
  width: 40%;
}

.foodstuff_texts {
  height: 25px;
  margin: 10px 3vw;
  resize: none;
  width: 20%;
}

.foodstuffs_text {
  height: 25px;
  margin: 10px 3vw;
  border: 1px solid silver;
  width: 36%;
}

.foodstuffs_material {
  height: 25px;
  margin: 10px 3vw;
  width: 36%;
}

.foodstuffs_texts {
  border: 1px solid silver;
  height: 25px;
  margin: 10px 3vw;
  width: 17%;
}

.foodstuffs_quantity{
  height: 25px;
  margin: 10px 3vw;
  width: 17%;
}

.actions_foodstuff {
  margin: 10px 1vw;
}

.actions_foodstuffs {
  margin: 10px 1vw;
}

textarea#foodstuff_material.foodstuff_text {
  width: 40%;
}

.foodstuff_text p {
  width: 40%;
}

