// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// recipes.index

.form_wrapper {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: white;
  padding-top: 20px;
}
.title-content {
  margin-right: auto;
  margin-left: auto;
  width: 960px;
}

.main_contents {
  display: flex;
}

.image-content {
  width: 45%;
  margin: 15px 2.5%;
  display: flex;
  flex-direction: column;
  border: 1px solid #474747;
  padding: 12px;
  border-radius: 10px;
  background-color: #fffefc;
  margin: 15px;
  float: left;

}

.image-contents {
  width: 45%;
  margin: 15px 2.5%;
  display: flex;
  flex-direction: column;
  border: 1px solid #474747;
  padding: 12px;
  border-radius: 10px;
  background-color: #fffefc;
  margin: 15px;
  float: left;

}

.text-content {
  width: 50%;
}

.image-content img  {
  height: 300px;
  width: 100%;
  object-fit: contain;

}
.image-contents img  {
  height: 400px;
  object-fit: contain;
}

// recipe.show

.recipephoto img {
  height: 250px;
  width: 250px;
  border-radius: 10px;
  object-fit: contain;
}

.recipephoto_text {
  padding: 10px;
  resize: none;
  width: 88%;
}

.recipephoto_forms {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.image_content {
  width: 28%;
  margin: 15px 2.5%;
  display: flex;
  flex-direction: column;
  border: 1px solid #F96167;
  padding: 5px;
  border-radius: 10px;
  background-color: #fffefc;
  margin: 15px;
  float: left;
  box-shadow: 3px 3px 3px 3px #faebd7;
}

.image_photos div img {
  height: 250px;
  width: 250px;
  border-radius: 10px;
  object-fit: contain;
}


.title_name {
  display: flex;
  width: 60vw;
}

.title_name p {
  padding: 10px 13vw;
}

.new_form_text {
  resize: none;
  margin: 0 10px;
  padding: 5px;
  border-radius: 10px;
}




.text_content {
  width: 50%;

}

.title_content {
  display: flex;
}

.title_recipe {
  font-size: 25px;
  border-bottom: 3px solid #b0deec;
  padding: 10px 0 0 0;
}

.title_recipes {
  font-size: 25px;
  padding: 10px 0 0 0;
}

.title_new {
  font-size: 25px;
}

.title_field {
  width: 35%;
  padding: 15px 0;
}

.title_fields {
 width: 65%;
 padding: 15px 0;
}

div .foodstuff_text {

}

.recipe-content-show{
  margin: 15px;
  width: 28%;
  flex-wrap: wrap;
  background-color: #F5F5F5;
  border-radius: 17px;
  padding: 8px 0 0px 1vw;
  
}

.recipephoto_texts {

}
.recipe-content-show p {
  padding: 5px 10px;
}

.recipe-contents {
  width: 107%;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
    margin-left: auto;
    width: 960px;
}

.recipephoto-images img {
  height: 230px;
  width: 95%;
  border-radius: 15px;
  vertical-align: bottom;
  object-fit: contain;
}

.root_btn{
  float: right;
}

.recipephoto-img img {
  height: 230px;
  width: 95%;
  border-radius: 15px;
  vertical-align: bottom;
}

.recipephoto-img input {
  width: 88%;
}



.search {
  margin: 0 0 0 auto;
  float: right;
}


.text_content .actions {
  float: right;
}

.button_link {
  display: flex;
}

.button_release {
  padding: 10px;
  margin: 0 15px;
  background-color: #b0deec;
  border-color: #b0deec;
  border-radius: 10px;
}

.show_links {
  display: flex;
  border-bottom: 3px solid #b0deec;
  margin-right: auto;
  margin-left: auto;

}

.show_links_recipe {
  display: flex;
  border-bottom: 3px solid #b0deec;
  margin-right: auto;
  margin-left: auto;
  width: 960px;
}



.button_show_link {

  background-color: #474747;
  color: #fff;
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  border-radius: 0.3rem;
  margin: 10px;
}

.buttons_form {
  display: flex;
}
input.form_btn {
  background-color: #474747;
  color: #fff;
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  border-radius: 0.3rem;
  margin: 10px;
}



.recipe_delete_btn {
  background-color: red;
  border: 1px solid red;
  color: #fff;
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  border-radius: 0.3rem;
  margin: 10px;
}

.btn_edit_form {
  display: flex;
}


.align a {
  text-decoration: none;
  color: black;
}

.align a:hover {
  color: red;
}

.show_links_recipes {
  border-bottom: 3px solid #b0deec;
  margin-right: auto;
  margin-left: auto;
  width: 960px;
}
@media screen and (max-width: 959px) {
  /* 959px以下に適用されるCSS（タブレット用） */

  .main_contents {
    flex-wrap: wrap;
  }

  .image-content {
    width: 95%;
  }


  // recipes.show, edit, recipe_detail

  .main_contents {
    flex-wrap: wrap;
  }

  .image-contents {
    width: 100%;
  }

  .text_content {
    width: 100%;
    padding: 10px;
  }

  .foodstuffs_text {
    width: 56%;
  }

  .foodstuffs_texts {
    width: 25%;
  }

  .foodstuff_forms {
    width: 94%;
  }

  textarea#foodstuff_material.foodstuff_text {
    width: 60%;
  }

  .foodstuff_texts {
    width: 26%;
  }

  .foodstuffs_material {
    width: 60%;
  }

  .text-content {
    width: 100%;
    padding: 10px;
  }

  .new_form_text {
    width: 95%;
  }

}




@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */

  // recipes.new
  .image-content {
    width: 100%;
  }

  .text-content {
    width: 100%;
}

  // recipes.show, edit, recipe_detail
  .title-content {
    width: 450px;
  }

  .main_contents {
    flex-wrap: wrap;
  }

  .image-contents {
    height: 260px;
    width: 100%;
  }
 
  .image-contents img {
    height: 250px;
}

  .show_links {
    width: 400px;
  }

  .show_links_recipe {
    width: 400px;
  }
  .show_links_recipes {
    width: 400px;
  }


  .text_content {
    width: 100%;
}

.recipephoto-images img {
  height: 150px;
}

.recipe-contents {
  width: 100%;
}

.recipe-content-show {
  margin: 10px;
}

.title_content {
  padding: 0 0 0 25px;
}

.foodstuff_form {
  padding: 0 0 0 25px;
}

.new_form_text {
  width: 93%;
}
.recipephoto-img img {
  height: 150px;
}
}