// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tag-inner {
  padding: 0 20%;
}


.tag-contents{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.tag-content{
  margin: 15px;
  display: flex;
}

.tag-image{
  margin: 0 0;
  border-radius: 10px;
  width: 100%;
  height: 260px;
  object-fit: cover;
  object-position: 50% 100%;
  padding: 10px;
}

.tag-name{
  font-size: 40px;
}

.tag-image a img {
  height: 230px;
  width: 100%;
  border-radius: 15px;
  vertical-align: bottom;
}

.tag_link a {
  text-decoration: none;
  color: black;
}

.tag-images {


}

.tag-images img {
  height: 230px;
  width: 100%;
  border-radius: 15px;
  vertical-align: bottom;
}

.tag-content-show{
  margin: 15px;
  width: 28%;
  flex-wrap:wrap;
}

.tag_link a:hover {


  color: red;
}