// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tag-inner {
  padding: 0 6%;
  display: flex;
  flex-wrap: wrap;
}


.tag-contents{
	width: 103%;
	display: flex;
	flex-wrap: wrap;
}

.tag-content{
  margin: 15px;
  display: flex;
}

.tag-image{
  margin: 0 0;
  border-radius: 10px;
  width: 100%;
  height: 260px;
  object-fit: cover;
  object-position: 50% 100%;
  padding: 10px;
}
.tag-image:hover {
  margin: 0 0;
  border-radius: 10px;
  width: 100%;
  height: 260px;
  object-fit: cover;
  object-position: 50% 100%;
  padding: 10px;
  border: 0.3rem solid #b0deec;

}


.tag-name{
  font-size: 40px;
}

.tag-image a img {
  height: 230px;
  width: 100%;
  border-radius: 15px;
  vertical-align: bottom;
  object-fit: contain;
}

.tag_link a {
  text-decoration: none;
  color: black;
}

.tags_link {
  height: 30px;
  padding: 5px;
}

.tag-images img {
  height: 230px;
  width: 95%;
  border-radius: 15px;
  vertical-align: bottom;
  object-fit: contain;
  background-color: #F5F5F5;
}

.tag-content-show{
  margin: 15px; 
  margin: 15px;
  width: 28%;
  flex-wrap: wrap;
  border-radius: 17px;
  padding: 8px 0 0px 1vw;
}

.tag-content-show:hover {
  margin: 15px; 
  border: 1px solid #F96167;
  margin: 15px;
  width: 28%;
  flex-wrap: wrap;
  border-radius: 17px;
  padding: 8px 0 0px 1vw;
  border: 0.3rem solid #b0deec;

}

.tag_link a:hover {


  color: red;
}

.check_box {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.tag-list {
  width: 20%;
  padding: 5px 0;
  font-size: 14px;
}