// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inner {
  padding: 0 15%;
}
.user_wapper {
  display: flex;

}

.user_image img {
  height: 275px;
  width: 275px;
  border-radius: 50%;
  
}

.user_form {
  width: 54%;
  padding: 15px 0 0 50px;
}

.align-middlenn {
  margin: 10px 0;
  width: 100%;
  border: 1px solid #dee2e6;
  text-align:center; 
  border-radius: 30px;
}

.align-middles {
  margin: 10px 0;
  width: 100;
  height: 5vh;
  border: 1px solid #dee2e6;
  padding: 10px 0 0 10px;
  border-radius: 30px;
}

.align-middles-profile {
  margin: 10px 0;
  width: 100;
  height: 10vh;
  border: 1px solid #dee2e6;
  padding: 10px;
  border-radius: 30px;
}

.user_btns {
  padding: 10px 0 10px 64px;
}

.btn_user_edit {
  color: black;
  text-decoration: none;
}

button.btn.btn-secondary.btn-lg.edit {
  padding: 9px;
  height: 45px;
  width: 150px;
}






td.align-middles-profile > input#user_profile{
  height: 60px;
}

.user_image_fild {
  padding: 25px 0 0 0;
  width: 25vw;
}

.user_form input.button {
background-color: orange;
border: none;
padding: 10px;
margin: 10px 0 0 22vw;
border: solid 2px ;
color: white;
border-radius: 15px;
}

.user_form input.button:hover {
  background-color: white;

  border: solid 2px orange;
  color: black;
  border-radius: 15px;
}

button.btn_delete {
background-color: red;
color: white;
border: none;
padding: 15px;
margin: 10px 0 0 2vw;
font-size: 17px;
border: solid 2px ;
border-radius: 15px;
}

button.btn_delete:hover {
  background-color: white;
  color: black;
  border: solid 2px #bd1111;
  opacity: 0.8;
  border-radius: 15px;
}

.button_form {
  display: flex;
}

.user_text {
  padding: 0 0 0 12px;
  border-radius: 30px;
  border: 2px solid #dee2e6;
  width: 100%;
  height: 50px;
  margin: 10px 0;
  resize: none;
}

// users.new

.sign_up_form {
  padding: 0 10vw 50px 10vw;
}
.sign_up_forms {
  background: #fafafa;
}

.new_user .field {
  display: flex;
  padding: 20px;
}

.filde_name {
  width: 200px;
  font-weight: bold;
}

.filde_names {
  width: 153px;
  font-weight: bold;
}
.sign_up_field {
  width: 100%;
  resize: none;
}


.sign_up_fields {
  width: 100%;
  height: 40px;
}

input#user_password.sign_up_fields {
  margin: 0 0 10px 0;
}

.actions_up input {
  border-radius: 15px;
  width: 100px;
  height: 30px;
  background-color: white;
}

.actions_up input:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}

.sgin_path {
  text-align: center;
  width: 100%;
  padding-top: 10px;
}